@tailwind base;
@tailwind components;
@tailwind utilities;
/*npx tailwindcss -i ./styles.css*/

/* Importar la fuente Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


/* Estilo para el título */
.tituloElegirPack {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.2rem; /* Tamaño grande */
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: -0.04em; /* Reduce ligeramente el espacio entre letras */
}

/* Contenedor principal para centrar */
.elegirPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Contenedor de checkboxes */
.checkbox-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 0.5rem; /* Reducir el espaciado entre columnas */
  justify-content: center; /* Centrar las columnas horizontalmente */
  width: 100%; /* Asegurar que ocupe todo el ancho disponible */
  max-width: 500px; /* Limitar el ancho del contenedor */
}

/* Estilo de cada checkbox */
.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #333; /* Color del texto */
}

/* Estilo del botón "Armar Pack" */
.boton-armar-pack {
  background-color: #5046E6; /* Violeta */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover para el botón */
.boton-armar-pack:hover {
  background-color: #4F80FF; /* Violeta oscuro */
}
