@tailwind base;
@tailwind components;
@tailwind utilities;
/* para activar css tailwind ---> npx tailwindcss -i ./styles.css*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');



/* título */
.tituloElegirPack {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: -0.04em; 
}

/* Contenedor principal*/
.elegirPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* Contenedor de checkboxes */
.checkbox-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.5rem; 
  justify-content: center;
  width: 100%; 
  max-width: 500px; 
}

/* Estilo de cada checkbox */
.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  margin-right: 0.5rem;
}

.form-check-label {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #333; 
}

/* Estilo del botón "Armar Pack" */
.boton-armar-pack {
  background-color: #5046E6; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover para el botón */
.boton-armar-pack:hover {
  background-color: #4F80FF; 
}

/* Footer */
footer {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.footer #contenu-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.footer .bloc {
  flex: 1;
  min-width: 200px;
}

footer h3 {
  margin-bottom: 10px;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  color: white;
}


footer .copyright {
  margin-top: 20px;
  font-size: 0.8rem;
}

/* Diseño Responsive */
@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  #about h2 {
      height: 200px;
      font-size: 1.5rem;
  }

  #planes table {
      font-size: 0.9rem;
  }
}

iframe {
  display: flex;
  height: 50vh;
  width: 100% !important;
  margin-top: 40px;
}

.contenedor {
  display: flex;
}

#navbarNavAltMarkup {
  align-items: right;
  text-align: right;
}

@media (max-width: 768px) {
  main {
      padding: 10px;
  }
  header h1 {
      font-size: 2rem;
  }
  nav ul {
      flex-direction: column;
      gap: 10px;
  }
  .heroPrimero img {
      height: 250px;
  }
}




#resultadoPack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#carrito ul {
  list-style: none; /* Elimina los estilos por defecto de la lista */
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.5rem; 
  justify-content: center;
  width: 100%; 
  max-width: 500px; 
}

#carrito li {
  margin: 5px 0; /* Espaciado entre ítems */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  

}


.btn-finalizar {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-finalizar:hover {
  background-color: #218838;
}



.swal2-container {
  z-index: 9999 !important;
}

